# Python bytecode
__pycache__/

# IDE settings
/.idea/

# Environment variables
env/*
!env/sample

# Files for build
git-archive.tar.gz

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
